.add-torrent-modal__body {
	display: flex;
	flex-direction: row;
	gap: 100px;
}

.torrent-information {
	display: flex;
	flex-direction: column;
}

.torrent-information__body {
	display: flex;
	flex-direction: column;
	align-items: start;
}

dialog[open]:modal {
  padding: 8rem;
  border: 1px solid black;
  border-radius: 2rem;
  gap: 3rem;
  background: orange;
  overflow: hidden;
}

::backdrop {
  background: hsl(0 0% 10% / 0.5);
}

.toolbar {
		
}
