@import '../../themes/variables.scss';

.button {
  font-size: $font-size-m;
  cursor: pointer;
  padding: $spacing-m;

  &:hover {
    background-color: $bg-color-secondary; 
  }

  svg {
    height: 30px;
    width: 30px;
  }
}
